@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Antonio', sans-serif;
    font-family: "Alegreya", serif;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
}

h1{
    text-align: center;
    font-family: "Antonio", sans-serif;
}
h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
h5{
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
}

button{
    font-family: 'Montserrat', sans-serif;
}
button:hover{
    background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}
footer{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
footer a{
    color: tomato;
}

.container{
    width: 50%;
    margin: 0 auto; 
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    font-family: "Alegreya", serif;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.icons a{
    margin: 20px;
}
.icons a img{
    width: 32px;
    height: 32px;
}

.row{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.column{
    flex: 50%;
}
.column-margin{
    flex: 50%;
    border: 1px solid white;
}
.column-extra{
    border: 1px solid white;
    margin-right: 200px;
}
.column-extra .content{
    padding: 5px;
}
.profile-image{
    display: flex;
    max-width: 100%;
    margin: 20px;
    justify-content: center;
}
.profile-image img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.exterior{
    padding-left: 30%;
    padding-right: 30%;
}
.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button-container button{
    margin: 20px;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.image-gallery img{
    height: 240px;
    width: 427px;
    margin: 40px ;
    box-shadow: 10px 10px 20px teal;
}

